<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

    <style>
        .containerPrincipal {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid rgba(0, 0, 0, 0.514);
            border-radius: 5px;
            padding: 40px;
        }

        .containerSecundario {
            text-align: center;
        }

        .boton {
            outline: 0;
            border: 0;
            text-transform: uppercase;
            padding: 16px 30px;
            border-radius: 10px;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
            transition: all ease-in .2s;
            background-color: rgb(255, 139, 0);
            color: white;
            text-align: center;
        }

        .titulo {
            color: orangered;
            text-align: center;
            font-family: Helvetica;
            font-weight: bold;
        }
        .content {
            font-family: Helvetica;
        }
        .enlace{
         text-decoration: none;   
         cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="containerPrincipal">
        <div class="containerSecundario">
            <div class="image"><img src="https://cdn-themes.thinkific.com/440734/359666/3Jk2XeHOSXGvUpoQXqKA_GH_Logo_Alta_Mesa%20de%20trabajo%201-01.png" width="377" height="97" alt="78"></div>
            <br/>
            <div class="titulo">
                <h1> ¡Bienvenido gestor <%=@user.name%>!</h1>
            </div>
            <div class="content">
                <p>Para ser parte de nosotros debes activar tu cuenta haciendo click en el siguiente botón</p>
                <br/>
                <a href="http://40.69.134.65:3000/Nueva_Contraseña?id=<%=@user.id%>" class="enlace"><button class="boton">ACTIVAR CUENTA</button></a>
            </div>

        </div>
    </div>
</body>
</html>